### part 2: Housing Prices

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\laava\Desktop\sem 6\AOML\housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [4]:
df = df.dropna()
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
import numpy as np

# Calculate the number of bins using Sturge's Rule
n = len(df)
k = int(1 + 3.322 * np.log10(n))

# Create bins for stratification based on 'median_income'
df['income_bin'] = pd.cut(df['median_income'], bins=k, labels=False)

# Perform stratified split
train_set, test_set = train_test_split(df, test_size=0.2, stratify=df['income_bin'], random_state=42)

# Drop the 'income_bin' column as it is no longer needed
train_set = train_set.drop('income_bin', axis=1)
test_set = test_set.drop('income_bin', axis=1)

train_set, test_set

C:\Users\laava\AppData\Local\Temp\ipykernel_25720\3226679149.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income_bin'] = pd.cut(df['median_income'], bins=k, labels=False)

(       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
 12284    -116.81     33.90                17.0       2009.0           469.0
 4811     -118.37     34.03                41.0       1425.0           285.0
 6201     -117.89     34.08                25.0       2115.0           489.0
 20126    -118.88     34.42                20.0        728.0           120.0
 6188     -117.92     34.10                35.0       2994.0           603.0
 ...          ...       ...                 ...          ...             ...
 9101     -117.93     34.57                 5.0       5613.0          1060.0
 2906     -119.03     35.38                52.0       1695.0           290.0
 12405    -116.24     33.76                 9.0       1961.0           595.0
 18137    -122.00     37.34                27.0       1716.0           290.0
 8565     -118.42     33.92                41.0       1621.0           279.0

        population  households  median_income  median_house_value  \
 12284       820.0       381.0         1.3286             81800.0
 4811        838.0       296.0         3.9732            188400.0
 6201       1107.0       477.0         3.1949            207400.0
 20126       360.0       115.0         6.1244            375000.0
 6188       1933.0       561.0         4.0052            160700.0
 ...           ...         ...            ...                 ...
 9101       3569.0       999.0         3.1946            132700.0
 2906        540.0       260.0         2.7312            147100.0
 12405       966.0       275.0         3.8125             96700.0
 18137       817.0       301.0         5.9158            343100.0
 8565        756.0       277.0         5.0594            346000.0

       ocean_proximity
 12284          INLAND
 4811        <1H OCEAN
 6201        <1H OCEAN
 20126       <1H OCEAN
 6188        <1H OCEAN
 ...               ...
 9101           INLAND
 2906           INLAND
 12405          INLAND
 18137       <1H OCEAN
 8565        <1H OCEAN

 [16346 rows x 10 columns],
        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
 9705     -121.65     36.66                30.0       3745.0           767.0
 3073     -119.23     35.79                31.0       2862.0           606.0
 18920    -122.19     38.07                20.0       3000.0           525.0
 13761    -117.09     34.01                37.0        106.0            18.0
 10560    -117.70     33.63                23.0       3038.0           473.0
 ...          ...       ...                 ...          ...             ...
 5406     -118.44     34.03                30.0       1039.0           303.0
 496      -122.26     37.85                52.0       3618.0           768.0
 11128    -117.93     33.85                27.0       1962.0           544.0
 9359     -122.52     37.95                33.0       4448.0           631.0
 2118     -119.72     36.75                27.0       1691.0           282.0

        population  households  median_income  median_house_value  \
 9705       1762.0       748.0         3.2355            214200.0
 3073       2467.0       600.0         2.3125             62100.0
 18920      1207.0       491.0         4.6406            217500.0
 13761        27.0        12.0         4.0556            131300.0
 10560      1501.0       436.0         5.5584            241700.0
 ...           ...         ...            ...                 ...
 5406        606.0       274.0         3.1250            343800.0
 496        1508.0       755.0         3.2619            309600.0
 11128      1492.0       481.0         1.9621            118100.0
 9359       1675.0       628.0         7.8904            468800.0
 2118        869.0       337.0         3.9514             86900.0

       ocean_proximity
 9705        <1H OCEAN
 3073           INLAND
 18920        NEAR BAY
 13761          INLAND
 10560       <1H OCEAN
 ...               ...
 5406        <1H OCEAN
 496          NEAR BAY
 11128       <1H OCEAN
 9359         NEAR BAY
 2118           INLAND

 [4087 rows x 10 columns])

In [7]:
# Create dummy variables for the 'ocean_proximity' column in the training set
train_set = pd.get_dummies(train_set, columns=['ocean_proximity'], drop_first=True)

# Create dummy variables for the 'ocean_proximity' column in the test set
test_set = pd.get_dummies(test_set, columns=['ocean_proximity'], drop_first=True)

train_set.head(), test_set.head()

(       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
 12284    -116.81     33.90                17.0       2009.0           469.0
 4811     -118.37     34.03                41.0       1425.0           285.0
 6201     -117.89     34.08                25.0       2115.0           489.0
 20126    -118.88     34.42                20.0        728.0           120.0
 6188     -117.92     34.10                35.0       2994.0           603.0

        population  households  median_income  median_house_value  \
 12284       820.0       381.0         1.3286             81800.0
 4811        838.0       296.0         3.9732            188400.0
 6201       1107.0       477.0         3.1949            207400.0
 20126       360.0       115.0         6.1244            375000.0
 6188       1933.0       561.0         4.0052            160700.0

        ocean_proximity_INLAND  ocean_proximity_ISLAND  \
 12284                    True                   False
 4811                    False                   False
 6201                    False                   False
 20126                   False                   False
 6188                    False                   False

        ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
 12284                     False                       False
 4811                      False                       False
 6201                      False                       False
 20126                     False                       False
 6188                      False                       False  ,
        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
 9705     -121.65     36.66                30.0       3745.0           767.0
 3073     -119.23     35.79                31.0       2862.0           606.0
 18920    -122.19     38.07                20.0       3000.0           525.0
 13761    -117.09     34.01                37.0        106.0            18.0
 10560    -117.70     33.63                23.0       3038.0           473.0

        population  households  median_income  median_house_value  \
 9705       1762.0       748.0         3.2355            214200.0
 3073       2467.0       600.0         2.3125             62100.0
 18920      1207.0       491.0         4.6406            217500.0
 13761        27.0        12.0         4.0556            131300.0
 10560      1501.0       436.0         5.5584            241700.0

        ocean_proximity_INLAND  ocean_proximity_ISLAND  \
 9705                    False                   False
 3073                     True                   False
 18920                   False                   False
 13761                    True                   False
 10560                   False                   False

        ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
 9705                      False                       False
 3073                      False                       False
 18920                      True                       False
 13761                     False                       False
 10560                     False                       False  )

In [8]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# Separate features and target variable from training set
X_train = train_set.drop('median_house_value', axis=1)
y_train = train_set['median_house_value']

# Separate features and target variable from test set
X_test = test_set.drop('median_house_value', axis=1)
y_test = test_set['median_house_value']

# Create a pipeline that standardizes the data then applies Ridge regression
ridge_pipeline = make_pipeline(StandardScaler(), Ridge(alpha=1.0))
ridge_pipeline.fit(X_train, y_train)

# Create a pipeline that standardizes the data then applies Lasso regression
lasso_pipeline = make_pipeline(StandardScaler(), Lasso(alpha=0.1))
lasso_pipeline.fit(X_train, y_train)

# Evaluate the models
ridge_score = ridge_pipeline.score(X_test, y_test)
lasso_score = lasso_pipeline.score(X_test, y_test)

ridge_score, lasso_score

(0.6499499258312675, 0.6499483713845833)

In [9]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

# Predict the target variable for the test set using both models
ridge_predictions = ridge_pipeline.predict(X_test)
lasso_predictions = lasso_pipeline.predict(X_test)

# Calculate MAE, MSE, and RMSE for Ridge regression
ridge_mae = mean_absolute_error(y_test, ridge_predictions)
ridge_mse = mean_squared_error(y_test, ridge_predictions)
ridge_rmse = np.sqrt(ridge_mse)

# Calculate MAE, MSE, and RMSE for Lasso regression
lasso_mae = mean_absolute_error(y_test, lasso_predictions)
lasso_mse = mean_squared_error(y_test, lasso_predictions)
lasso_rmse = np.sqrt(lasso_mse)

ridge_mae, ridge_mse, ridge_rmse, lasso_mae, lasso_mse, lasso_rmse

(49617.29375837566,
 4650497959.803248,
 68194.55960561112,
 49618.31042635085,
 4650518610.994799,
 68194.71101921907)